@font-face {
  font-family: "castoro-normal";
  src: url("Castoro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "castoro-italic";
  src: url("Castoro-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
